<!doctype html>
<html class="no-js" lang="">

<head>
    <meta http-equiv="Content-Security-Policy" content="script-src 'self' https://cdn.jsdelivr.net/npm/chart.js 'unsafe-inline' 'unsafe-eval';">
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>AKKHOR | Home 5</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <style>
        *{
            padding: 0px;
            margin: 0px;
        }
    </style>
    
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/img/favicon.png">
    <!-- Normalize CSS -->
    <link rel="stylesheet" href="/css/normalize.css">
    <!-- Main CSS -->
    <link rel="stylesheet" href="/css/main.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <!-- Fontawesome CSS -->
    <link rel="stylesheet" href="/css/all.min.css">
    <!-- Flaticon CSS -->
    <link rel="stylesheet" href="/fonts/flaticon.css">
    <!-- Animate CSS -->
    <link rel="stylesheet" href="/css/animate.min.css">
    <!-- Data Table CSS -->
    <link rel="stylesheet" href="/css/jquery.dataTables.min.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/style.css">
    <!-- Modernize js -->
    <script src="/js/modernizr-3.6.0.min.js"></script>
</head>

<body>
    <!-- Preloader Start Here -->
    <!-- <div id="preloader"></div> -->
    <!-- Preloader End Here -->
    <div id="wrapper" class="wrapper bg-ash">
        

        <!-- Header Menu Area Start Here -->
        <%- include ('partials/navbar') %> 
        <!-- Header Menu Area End Here -->


        <!-- Page Area Start Here -->
        <div class="dashboard-page-one">


            <!-- Sidebar Area Start Here -->
            <%- include ('partials/sidenav') %> 
            <!-- Sidebar Area End Here -->


            <div class="dashboard-content-one">
                <!-- Breadcubs Area Start Here -->
                <div class="breadcrumbs-area">
                    <h3>Dashboard</h3>
                    <ul>
                        <li>
                            <a href="index.html">Home</a>
                        </li>
                        <li>Plan your budget and live a happier life</li>
                    </ul>
                </div>
                <!-- Breadcubs Area End Here -->
                <div class="row">
                    <!-- Dashboard summery Start Here -->
                    <!--! !!!!!!!!!!!!!!!!!! CHART AREA !!!!!!!!!!!!!!!!!!!!!-->
                    <div class="col-12 col-4-xxxl">
                        <div class="row">
                            <div class="col-12-xxxl col-lg-12 col-sm-12 col-12">
                                <div class="dashboard-summery-two">
                                    <canvas id="monthly-Expense-Chart"></canvas>
                                    
                                </div>
                            </div>
                            
                            <div class="col-12-xxxl col-lg-12 col-sm-12 col-12">
                                <div class="dashboard-summery-two">
                                    <canvas id="monthly-Income-Chart"></canvas>
                                    
                                </div>
                            </div>
                            
                        </div>
                    </div>
                   
                    <!--? I GIVE UP -->
                    <div class="col-12 col-sm-12 col-8-xxxl d-flex justify-content-center">
                        <div class="dashboard-summery-two" style="position: relative; height:70vh; width:70vw;">
                            <canvas id="student-doughnut-chart"></canvas>
                        </div>
                    </div>
                                
                </div>


                <!-- Student Table Area Start Here -->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card dashboard-card-eleven">
                            <div class="card-body mt-5">
                                <div class="heading-layout1">
                                    <div class="item-title">
                                        <h3>My Transaction</h3>
                                    </div>
                                   
                                </div>
                                <div class="table-box-wrap">
                                    <form class="search-form-box">
                                        <div class="row gutters-8">
                                            <div class="col-3-xxxl col-xl-3 col-lg-3 col-12 form-group">
                                                <!-- <input type="text" placeholder="Search by Date ..." class="form-control"> -->
                                                <input type="date" placeholder="dd/mm/yyyy" class="form-control air-datepicker">
                                                
                                            </div>
                                            <div class="col-4-xxxl col-xl-4 col-lg-4 col-12 form-group">
                                                <input type="text" placeholder="Search by Type ..." class="form-control">
                                            </div>
                                            <div class="col-4-xxxl col-xl-3 col-lg-3 col-12 form-group">
                                                <input type="text" placeholder="Search by Category ..." class="form-control">
                                            </div>
                                            <div class="col-1-xxxl col-xl-2 col-lg-2 col-12 form-group">
                                                <button type="submit" class="fw-btn-fill btn-gradient-yellow">SEARCH</button>
                                            </div>
                                        </div>
                                    </form>
                                    <div class="table-responsive student-table-box">
                                        <table class="table display data-table text-nowrap">
                                            <thead>
                                                <tr>
                                                   
                                                    <th>Date</th>
                                                    <th>Description</th>
                                                    <th>Amount</th>
                                                    <th>Type</th>
                                                    <th>Category</th>
                                                    <th>Edit</th>
                                                    <th>Delete</th>
                                                    
                                                   
                                                    <th></th>
                                                </tr>
                                            </thead>
                                            <tbody class="transaction-appendhere">  
                                                <!-- !this is where to display content from database of records -->
                                                     

                                                <!-- <tr>
                                                  
                                                    <td class="text-center">date2 from the records database</td>
                                                    <td>description2 from records</td>
                                                    <td>amount2 from records</td>
                                                    <td>Type2 from records</td>
                                                    <td>Category2 from records</td>
                                               
                                                </tr> -->

                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Student Table Area End Here -->
                
                
            </div>
        </div>
        <!-- Page Area End Here -->
    </div>

    <script>
        //  const ctx = document.getElementById('student-doughnut-chart')
        //  console.log(ctx);
        const getDB = async () =>{
    let results = await fetch('/api')
    let data = await results.json()
    console.log(`OUR DATA----> ${data}`);
}

getDB()
    </script>
    <script src="/chartjs/index.js"></script>
    <script src="/js/displayTransaction.js"></script>
    <script src="/js/edit_delete.js"></script>

</body>

</html>