<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bootstrap Site</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js" integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/" crossorigin="anonymous"></script>
</head>
<body>
<div class="budget-container">
  <div class="app-title"> Budget app</div>
  <div class="budget-header">
    <div class="title">Balance</div> <div class="value"></div>
  </div>
  <div class="account">
    <div class="Income">
      <div class="title">Income</div> <div class="income-total"></div>
    </div>
    <div class="chart"></div>
    <div class="outcome">
      <div class="title">Outcome</div> <div class="outcome-total"></div>
    </div>
  </div>
</div>
<div class="budget-dashboard">
  <div class="dash-title">Dashboard</div>
  <div class="toggle">
    <div class="tab1">Expenses</div>
    <div class="tab2 active">Income</div>
    <div class="tab3">All</div>
  </div>
  <div class="hide" id="expense"></div>
  <div id="income">
    <ul class="list">
      <li id="0" class="income">
        <div class="entry">Salary: $8000</div>
        <div id="edit"></div>
        <div id="delete"></div>
      </li>
    </ul>
    
    
    
    <div class="input">
      <input type="text" id="income-title-input" name="title" placeholder="title">
      <input type="number" id="income-amount-input" name="amount" placeholder="$0">
      <div class="add-income"><img src="icon/plus.png"></div>
    </div>
    
  </div>
  <div class="hide" id="all"></div>
  
</div>
</body>
</html>