<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Back End A Team | Login</title>
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>
    
    <div class="full-screen-container">
        <div class="login-container">
            <h1 class="login-title">Welcome</h1>
            <form action="/login" method="POST" class="form">

                <!-- email section -->
                <div class="input-group success">
                    <lable for="email">Email</lable>
                    <input type="email" name="email" id="login-email">
                    <!-- <span class="msg">Valid email</span> -->
                </div>

                <!-- password section -->
                <div class="input-group error">
                    <lable for="password">Password</lable>
                    <input type="password" name="password" id="login-password">
                    <!-- <span class="msg">Incorrect password</span> -->
                </div>

                <!-- submit button section  -->
                <button type="submit" class="login-button">Login</button>
                <div class="google-login">
                    <a href="/google" class="google-signin">Login with Google Account</a>
                    <a href="/register" class="google-signin">Don't have an account? Register</a>
                </div>
            </form>
        </div>
    </div>

    <script src="/js/login.js"></script>
</body>
</html>